
/* Estilo para o corpo */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgba(0, 228, 255, 1) 0%, rgba(0, 228, 255, 1) 3%, rgba(16, 0, 255, 1) 69%);
    padding: 20px;
}
/* Estilo para o container principal */
.container {

    background-color: rgb(255, 255, 255);
    padding: 7px;
    border-radius: 12px;
    box-shadow: 0 14px 26px rgb(0, 0, 0);
    max-width: 500px;
    width: 321px;
    height: 558px;
    text-align: center;
}


/* Estilos para icone */
.mb-4 img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}




/* Estilo para títulos */
h3 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo para botões */
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
    background-color: #0056b3;
}

/* Estilo para ícones */
.icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Estilo para biografia ou outras informações de escolha*/
.descricao{
border: 2px solid red;
}
.biografia{
    border: 2px solid blue;
    overflow-y: scroll;
    padding: 10px;
    max-height: 163px;
    
}
